<div class="container pt-3 pb-3">
	<div class="card p-3">
		<div class="mb-3 pl-3 pr-3">
			<h1 class="text-primary">Minhas Compras</h1>
		</div>

		<div class="w-100 overflow-auto pb-2">
			<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border table-striped table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Titulo</th>
						<th>Preço Pago</th>
						<th>Data da Venda</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let sale of sales">
						<td>{{ sale.idVenda }}</td>
						<td>{{ sale.ebookTitulo }}</td>
						<td>R$ {{ sale.precoPago | number: "1.2-2" }}</td>
						<td>{{ sale.dataCompra | date: "dd/MM/yyyy" }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
