<div class="bg-dark text-light pt-2 pb-2 pl-3 pr-3">
	<div class="d-flex flex-row justify-content-around">
		<div class="text-center">
			<h3>
				<fa-icon class="big-font" [icon]="faBookReader" title="Loja de eBooks"></fa-icon><br/>
				Loja de eBooks<br/>
				<small>A melhor experiência de leitura.</small>
			</h3>
		</div>

		<div>
			<b><fa-icon [icon]="faMobileAlt" title="Telefones"></fa-icon> Telefone</b>
			<div>+55 (31) 3319-7000</div>
			<hr class="bg-light"/>
			<b><fa-icon [icon]="faEnvelope" title="E-mail"></fa-icon> E-mail</b>
			<div>
				<a class="text-light" href="mailto:contato@ebooks.com.br">contato@ebooks.com.br</a>
			</div>
		</div>

		<div>
			<b><fa-icon [icon]="faMapMarkerAlt" title="Endereço"></fa-icon> Endereço</b>
			<div>
				Av. Amazonas, 5.253, Nova Suíça<br/>
				Belo Horizonte - MG<br/>
				CEP: 30.421-169
			</div>
		</div>
	</div>

	<p class="text-center mb-0">&copy; 2022 Loja de eBooks - Todos os direitos reservados.</p>
</div>
